body {
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
}

h1 {
    color: rgb(43, 179, 177);
}

h2 {
    color: rgb(191, 223, 50);
}

h3 {
    color: rgb(152, 166, 189);
    line-height: 2;
}

.large {
    font-size: 2rem;
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    line-height: 1.5;
}

.intro {
    padding: 40px;
}

.feature {
    display: flex;
    color: hsl(204, 43%, 93%);
}

.feature h2 {
    color: white;
    margin-top: 0;
}

.sub {
    padding: 40px;
    background-color: rgb(43, 179, 177);
    flex: 1;
}

.why {
    padding: 40px;
    background-color: rgb(74, 190, 189);
    flex: 1;
}

a:link {
    text-decoration: none;
}

.attribution {
    margin: 50px auto;
    text-align: center;
}

.myButton {
	background-color:rgb(191, 223, 50);
	border-radius:10px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-weight:bold;
	padding:16px 76px;
	text-decoration:none;
}

@media only screen and (max-width: 500px) {
    .feature {
        flex-direction: column;
    }
}